    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <form role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </form>
        <ul class="nav menu">
        
        <%= render partial: 'layouts/sidebar_link',
        locals: {
            path: dashboard_path,
            title: " Dashboard",
            icon: "dashboard-dial"
            } %>

            <li><a href="<%= root_path %>"><svg class="glyph stroked location pin"><use xlink:href="#stroked-location-pin"></use></svg> Events & Locations</a></li>

            <li><a href="<%= occasions_path %>"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> My Events</a></li>

            <li><a href="<%= organizations_path %>"><svg class="glyph stroked app window with content"><use xlink:href="#stroked-app-window-with-content"/></use></svg> My Organization</a></li>


    </div><!--/.sidebar-->